body{
    font-family: 'Gaegu', cursive;
    font-size: 120%;
    font-weight: 700;
    background-size:cover;
    background-position:0% 25%;
    background-image: url("https://images5.alphacoders.com/785/thumb-1920-785941.jpg");
}